# general
*.class
*.log

# sbt
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# intellij idea
.idea
*.log
*.iml
*.ipr
*.iws
.idea

# other?
.history
.scala_dependencies
.cache
.cache-main
