*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.scala-build
.worksheet
.idea
!/project/Versions.scala
/project/
!project/build.properties
out
*.iml

# Ignore files used by Metals and Visual Studio Code
.bloop
.metals

# Ignore OSX files
.DS_Store

# Ignore Scala 3 intermediate files
*.tasty

.vscode
.bsp
events.json