@import "lib/bootstrap-sass/assets/stylesheets/bootstrap";

.coffeescript {
  color: aliceblue;
  background-color: darken(brown, 12%);
}

.typescript {
  color: bisque;
  background-color: blueviolet;
}